{% extends 'base.html' %}

{% block content %}
{% load static %}

<br><br><br>
<div class="container">
<div class="card c1">
  <div class="card-header">
    <h1 class="h1">Least Common Multiple Calculator</h1>
  </div>
  <div class="card-body">
      <p>Calculate the <strong>least common multiple (LCM)</strong> or lowest common denominator (lcd). On the LCM calculalation page you can learn how to calculate LCM step by step.

Please type two integer numbers and hit calculate button find the LCM of two numbers.</p>
  </div>
</div><br>
<h3>Find LCM Here </h3><br>
  <form method="POST" action="{% url 'lcm' %}" class="text-center">
    {% csrf_token %}
<div class="form-row align-items-center">
  <div class="col-auto">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><strong>LCM of: </strong></div>
      </div>
      <input type="number" min="1" max="99999" name="field1" id="number1" placeholder=" value one" required=""> <div class="input-group-text">and</div>
      <input type="number" min="1" max="99999" name="field2" id="number2" placeholder="value two" required="">
    </div>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-warning mb-2">Calculate</button>
  </div><br><br>
</div>
</form><br>
<h4>Instruction</h4><br>
<p>Dont use (,) Value:- 5,000 , 34,5 #invalid</p>
<p>Value Minimum Range = 1</p>
<p>Value Maximum Range = 99999</p>
</div>
{% endblock %}
