<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Assignment Calc</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'static/index.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" href="{% url 'index'%}">Assingnment</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lcm'%}">Find LCM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Find GCF</a>
      </li>
      </ul>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 bg-warning text-center">Welcome to LCM or GCF Calculator</h1>
  </div>
</div>
<div class="container-fluid">

<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center bg-warning">What is LCM ?</h5>
        <p class="card-text">The full form of LCM is Least Common Multiple and also noted as Lowest Common Multiple (LCM) or Least Common Divisor (LCD). LCM is the smallest positive integer that is equally divisible by two integers a and b. It is denoted as LCM(a,b). For example, if you take integer a=8 and b=12, the LCM(a,b) i.e., LCM(8,12)=24.</p>
      </div><br><br>
      <button type="button" class="btn btn-outline-warning">
        <a class="nav-link" href="{% url 'lcm'%}">Find LCM</a>
      </button>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center bg-warning">What is GCF ?</h5>
        <p class="card-text">GCF of two numbers Calculator: You can find GCF of two numbers using the GCF Calculator. The Greatest Common Factor Calculator over here can be quite handy for you to know the GCF of two numbers easily. Give the first input in the number 1 field and then second input in the number 2 field and press on the ‘Calculate’ button which is colored in blue. Remember not to use commas within your numbers like 5,000, 7,500.</p>
      </div>
      <button type="button" class="btn btn-outline-warning">
        <a class="nav-link" href="{% url 'gcd'%}">Find GCD</a>
      </button>
    </div>
  </div>
</div>
</div>
</div>
</body>
</html>
